name: Deploy React App to GitHub Pages

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          
      - name: Install dependencies
        run: npm ci
        
      - name: Build
        run: npm run build
        env:
          IS_AVAILABLE_FOR_HIRE: ${{ vars.IS_AVAILABLE_FOR_HIRE }}
          CONTACT_EMAIL: ${{ vars.CONTACT_EMAIL }}
          URL_GITHUB: ${{ vars.URL_GITHUB }}
          LINKEDIN_URL: ${{ vars.LINKEDIN_URL }}
          FULL_NAME: ${{ vars.FULL_NAME }}
          JOB_TITLE: ${{ vars.JOB_TITLE }}
          CAREER_START_DATE: ${{ vars.CAREER_START_DATE }}
          
      - name: Add .nojekyll file
        run: touch ./dist/.nojekyll
        
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: main
          force_orphan: true
          enable_jekyll: false